@primaryColor: #a0d911;
@bodyBackground: #f9f9f9;
@sideNavWidth: 280px;
@sectionMarginBottom: 30px;
@keyframes lime-loading {
    from {transform: rotate(0deg)}
    to {transform: rotate((360deg))}
}

a {
    color: currentColor;
    text-decoration: none;
    &:visited,&:active {
        color: currentColor;
    }
}

body {
    background-color: @bodyBackground;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-weight: 400;
    &:not(:first-child) {
        margin-top: 100px;
    }
}

h4 {
    font-weight: 400;
}

.section(){
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 0 10px 10px;
    margin-bottom: @sectionMarginBottom;
}

.example-block {
    .section();
    padding: 0 10px 30px;

    &-header {
        align-items: center;
        background-color: #f2f2f2;
        display: flex;
        justify-content: flex-end;
        margin: 0 -10px 10px;
        border: none;
        height: 26px;
        padding: 5px 10px;

        .fa-code {
            border-radius: 50%;
            cursor: pointer;
            font-size: small;
            padding: 10px;
            background-color: rgba(0,0,0,0);
            transition: background-color .3s ease-out;
            &:hover {
                background-color: rgba(0,0,0,0.12);
            }
        }
    }

    .lime-collapsible {
        transition-duration: .55s;
    }

    &-content {
        margin-top: 20px;
    }
}

.git-fixed-link {
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 18px;
    color: @primaryColor;
    display: none;
    @media(min-width: 1140px) {
        display: block;
    }
}

.implement {
    .section();
}

.side-nav {
    width: @sideNavWidth;
    float: left;
    position: relative;

    ul {
        background-color: transparent;
        margin: 0;
        padding: 0;
        li {
            background-color: white;
            margin-right: 10px;
            padding-left: 40px !important;
            &:focus, &:hover {
                // background-color: lighten(@primaryColor, 50%);
                outline: none;
            }
        }
    
        .lime-collapsible {
            li {
                padding-left: 60px !important;
            }
        }
    }

    .lime-logo {
        background-color: white;
        height: 50px;
        margin-right: 10px;

        .lime-logo-text {
            color: @primaryColor;
            font-size: 30px;
            font-weight: bolder;
            height: 50px;
            line-height: 50px;
            left: 40px;
            position: absolute;
            top: 0px;
            transition: top .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            will-change: top;
        }
    }

    .shadow {
        width: calc(100% - 10px);
        height: 10px;
        position: absolute;
        z-index: 1;
        &.top {
            background: radial-gradient(at top, rgba(0,0,0,.2), transparent 80%) no-repeat;
            top: 0;
        }
        &.bottom {
            background: radial-gradient(at bottom, rgba(0,0,0,.2), transparent 80%) no-repeat;
            bottom: 0;
        }
    }

    .mask {
        height: 10px;
        background: #fff;
        margin-right: 10px;
        position: relative;
        z-index: 2;
    }
}

.main {
    background-color: @bodyBackground;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 50px;
    width: calc(100% - @sideNavWidth);
    &-content{
        margin-right: auto;
        max-width: 800px;
    }
}

.markdown {
    .hljs {
        padding: 15px;

        &-comment {
            color: currentColor;
        }
    }

    pre {
        margin: 0;
    }

    .copy {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        button {
            padding: 5px 8px;
        }
    }
}

.nav {
    background-color: #a0d911;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    transition: height .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    will-change: auto;

    .lime-logo {
        position: relative;
        color: white;
        font-size: 30px;
        font-weight: bolder;
        height: 50px;
        line-height: 50px;
        margin-left: 40px;
        margin-right: auto;
    }

    &.hide {
        height: 0;
    }
}

.home {
    background-image: linear-gradient(90deg, rgba(205,205,205,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(205,205,205,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(205,205,205,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(205,205,205,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    .card {
        box-sizing: border-box;
        background-color: @primaryColor;
        height: 400px;;
        width: 400px;
        position: relative;
        bottom: 50px;
        padding: 30px;
    }

    .lime-logo {
        color: #fff;
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        margin: 40px 0;
    }

    .desc {
        color: #fff;
        line-height: 1.5em;
        //padding: 0 30px;
    }

    .start {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        
        a {
            display: block;
        }
        button {
            position: relative;
            font-size: 30px;
            font-weight: 200;
            height: 90px;
            flex: 1 1 100%;
            color: #fff !important;
            &::before {
                content: " ";
                background: #fff;
                display: block;
                opacity: .1;
                position: absolute;
                pointer-events: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }

    
}