.sd-loading {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid blue;
    border-left-color: transparent;
    animation: sd-loading 1.3s infinite forwards;
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}
@primaryColor: #a0d911;
@keyframes sd-loading {
    from {transform: rotate(0deg)}
    to {transform: rotate((360deg))}
}

@sideNavWidth: 280px;
@sectionMarginBottom: 15px;

a {
    color: currentColor;
    text-decoration: none;
    &:visited,&:active {
        color: currentColor;
    }
}

body {
    font-weight: 300;
    font-family: Roboto,sans-serif;
    margin: 0;
}

h2 {
    font-weight: 400;
    &:not(:first-child) {
        margin-top: 100px;
    }
}

h4 {
    font-weight: 400;
}

ul {
    padding: 0;
    li {
        padding-left: 40px !important;
    }

    .sd-collapsible {
        li {
            padding-left: 60px !important;
        }
    }
}

li {
    &:focus, &:hover {
        background-color: lighten(@primaryColor, 50%);
        outline: none;
    }
}

.section(){
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 0 15px 15px;
    margin-bottom: 15px;
}

.example-block {
    .section();

    &-header {
        align-items: center;
        background-color: #f2f2f2;
        display: flex;
        justify-content: flex-end;
        margin: 0 -15px @sectionMarginBottom;
        border: none;
        height: 30px;
        padding: 5px @sectionMarginBottom;

        img {
            border-radius: 50%;
            cursor: pointer;
            width: 16px;
            height: 16px;
            padding: 10px;
            background-color: rgba(0,0,0,0);
            transition: background-color .3s ease-out;
            &:hover {
                background-color: rgba(0,0,0,0.12);
            }
        }
    }

    .sd-collapsible {
        transition-duration: .55s;
    }
}

.implement {
    .section();
}

.side-nav {
    width: @sideNavWidth;
    float: left;
}

.main {
    background-color: #f9f9f9;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: scroll;
    width: calc(100% - @sideNavWidth);
    float: left;
    padding: 10px;

    &-content{
        margin: auto;
        max-width: 900px;
    }
}

.markdown {
    .hljs {
        padding: 15px;

        &-comment {
            color: currentColor;
        }
    }

    pre {
        margin: 0;
    }

    .copy {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        button {
            padding: 5px 8px;
        }
    }
}