.sd-loading {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid blue;
    border-left-color: transparent;
    animation: sd-loading 1.3s infinite forwards;
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}

@keyframes sd-loading {
    from {transform: rotate(0deg)}
    to {transform: rotate((360deg))}
}

@sideNavWidth: 240px;

a {
    text-decoration: none;
    &:visited,&:active {
        color: currentColor;
    }
}

.side-nav {
    width: @sideNavWidth;
    float: left;
}

.main {
    box-sizing: border-box;
    width: calc(100% - @sideNavWidth);
    float: left;
    padding-left: 10px;
}